<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    
      <h2>To access the documentation press the following link:</h2> 
      <a href="https://localhost:3000/api">Documentation</a> <br><br>
      <a href="https://localhost:3000/api/anuncios">List json</a> <br><br>
      <a href="https://localhost:3000/login">List de anuncios Demo</a> <br><br>
    

  </header>
  
      <xmp theme="cyborg" style="display:none;">
        <%- readme %>
      </xmp>
   
    
    <script src="https://strapdownjs.com/v/0.2/strapdown.js"></script>

  </body>

  
</html>
